-# vim: fileencoding=utf-8

.jumbotron
  .container
    %h1 体重をつぶやくだけ。
    %p YAPecaFitの体重記録方法はいたってシンプル。ただ単に@YAPecaFitにむけて、身長と体重をつぶやけばそれで記録開始です。身長をつぶやいたあとは体重を@YAPecaFitにむけてただつぶやくだけでかまいません。YAPecaFitは体重を記録していきます。

.container
  .row
    .col-md-4
      %h2 つぶやき方。
      %p 最初の一回は次のようにつぶやいてみてください。
      %pre @YAPecaFit 000cm 00.0kg
      %p 000や00.0のところにはあなたの身長と体重を入れてください。これでYAPecafitは体重の記録をし始めます。以降は次のようにただ体重だけをつぶやいてください。
      %pre @YAPecaFit ００．０ｋｇ
      %p こうすることでYAPecaFitが定期的につぶやきを取得して体重を記録することが出来ます。
      %p なお、Peercast界隈での情報交換ハッシュタグとしては<code>#pecafit</code>が以前は使用されていたようです。
    .col-md-4
      %h2 注意点。
      %p 現段階ではまだ開発中であるため、注意点があります。
      %p 体重は現段階では1時間ごとに取得、更新されます。この時に誰かの体重が記録された際にはトップページが更新されます。この間隔はサーバーの状況によっては今後延びることがあります。
      %p 開発中のため、一部データが消える可能性があります。可能な限り、データを残すよう努力は致しますが、あらかじめご了承ください。
      %p Herokuの仕様により、アクセス頻度によっては、十秒程読み込みに時間がかかることがあります。ゆっくりお待ちください。<small>Dynos増やせば読み込み時間については解決するんですけれども、結構お高かった…</small>
      %p 以上のことをご了承の上、お使いください。
    .col-md-4
      %h2 Twitterアカウント@YAPecaFitについて。
      %p @YAPecaFitはサーバーでの記録状況、中の人からのお知らせ、イベントの開催等についてつぶやく予定です。
      %p 体重の記録自体はフォローしていなくても、@YAPecaFitあてへのリプライが@YAPecaFitから見える状況であるなら、記録可能です。
      %p 
        鍵アカウントの場合、そのままだと返信が見えないため、一度@YAPecaFitをフォローしてください。
        しばらくしたらフォローリクエストが送信されると思いますので、許可すると返信が@YAPecaFitから見えるようになります。
  .row
    %h2 謝辞。
    %p このサイトの仕様は前PecaFit(@Pecafit)のものをそのまま参考にしています。運営者のしりゅさんに感謝いたします。
    %p あれくまさんには配信にてbootstrapなどの各種ライブラリについて教えていただきました。
    / コードの8割は鹿の人配信をBGMにしながら作成されました。完成ﾏﾀﾞｰ？
  .row
    %h2 使ってるものとか。
    %p 順不同です。たぶん列挙し忘れてるのもあります。
    %dl
      %dt
        %a{:href => "http://www.heroku.com/"}heroku
      %dd
        %p このサイト(Ruby2.0で作られています)自体を動かしています。
      %dt
        %a{:href => "http://getbootstrap.com/"}bootstrap
      %dd 
        %p サイト全体のデザインに使っています。CSS+Javascriptのセットです。
      %dt
        %a{:href => "http://bootswatch.com/"}bootswatch
      %dd
        %p bootstrapのテーマを配布しているサイトです。
      %dt
        %a{:href => "http://www.highcharts.com/"}highcharts
      %dd
        %p 体重のグラフ表示に利用しています。Javascriptで動いてるのでiPhoneやPSVitaでも(たぶん)見れるよ！
      %dt
        %a{:href => "http://jqueryvalidation.org/"}jQuery Validation Plugin
      %dd
        %p 一部フォームの入力値チェックに使っています。もっともフォーム自体ほとんど使っていないのですけれど。
      %dt
        %a{:href => "http://www.padrinorb.com/"}Padrino
      %dd
        %p このサイトを作るために使用しているフレームワークです。Sinatraというフレームワークに色々と便利な機能を付け足してあります。
      %dt
        %a{:href => "http://www.mongohq.com/"}MongoHQ
      %dd
        %p 体重などの様々なデータを保存するためにHerokuのアドオンとして使用しています。
      %dt
        %a{:href => "http://tablesorter.com/docs/"}tablesorter
      %dd
        %p プロジェクトの表ソートに使用しています。気づきにくいですけれど。

