-# fileencoding: utf-8

.jumbotron
  .container
    %h1 体重をつぶやくだけ。
    %p YAPecaFitの体重記録方法はいたってシンプル。ただ単に@YAPecaFitにむけて、身長と体重をつぶやけばそれで記録開始です。身長をつぶやいたあとは体重を@YAPecaFitにむけてただつぶやくだけでかまいません。YAPecaFitは体重を記録していきます。

.container
  .row
    .col-md-4
      %h2 つぶやき方。
      %p 最初の一回は次のようにつぶやいてみてください。
      %pre @YAPecaFit 000cm 00.0kg
      %p 000や00.0のところにはあなたの身長と体重を入れてください。これでYAPecafitは体重の記録をし始めます。以降は次のようにただ体重だけをつぶやいてください。
      %pre @YAPecaFit ００．０ｋｇ
      %p こうすることでYAPecaFitが定期的につぶやきを取得して体重を記録することが出来ます。
    .col-md-4
      %h2 注意点。
      %p 現段階ではまだα版であるため、いくつかの注意点があります。
      %p 記録した体重グラフは各ユーザーごとに専用のページが生成されますが、現段階ではそのページについて公開、非公開を選択することが出来ません。そのページのURLさえわかる人全員がグラフと体重を知ることが可能です。
      %p 体重は現段階では10分ごとに取得、更新されます。この間隔はサーバーの状況によっては今後延びることがあります。
      %p 先代のPecaFitでは体重の増減幅を競うのが主目的でしたが、この機能については未だ実装中です。
      %p 以上のことをご了承の上、お使いください。
    .col-md-4
      %h2 TwitterアカウントYAPecaFitについて。
      %p @YAPecaFitはサーバーでの記録状況、中の人からのお知らせ、イベントの開催等についてつぶやく予定です。
      %p 体重の記録自体はフォローしていなくても、@YAPecaFitあてへのリプライが@YAPecaFitから見える状況であるなら、記録可能です。



