-# coding: utf-8

.jumbotron
  .container
    %h1 もう一つのPecaFit。
    %p ダイエットの基本、それは体重を記録するということです。
    %p PecaFitはあなたに簡単かつわかりやすい体重記録方法を提供します。
    %p.btn= link_to 'もっと詳しく', '/about'

.container
  .row
    .col-md-6
      %h2 ようこそ。
      %p ようこそ、YetAnotherPecaFit(YAPecaFit)へ。
      %p 使い始めるためにはTwitterアカウントが必要です。あらかじめご用意ください。
      %p 使い方はメニューから「YAPecaFitについて」をご覧ください。
      %h2 最新のTweet取得日時
      %p= @updatetime
      %h2 開催中のプロジェクト
      %ul
      - if @project.length > 0
        - for i in @project
          %li= i.project_name
      - else
        %li 無し
    .col-md-6
      %a{:class => "twitter-timeline", :href => "https://twitter.com/YAPecaFit", "data-widget-id" => "372700703505936384"}@YAPecaFitからのツイート
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
