-# vim: fileencoding=utf-8

.jumbotron
  .container
    %h2
      =@name + "さん"
      (
      %span#twitter_uid= @user_twitter_id
      ) のグラフ
    #graph

- content_for :include do
  =javascript_include_tag 'weight_graph'

.container
  %ul.nav.nav-tabs
    %li.active
      %a{:href => "#record", :data => {:toggle => "tab"}} 記録
    %li
      %a{:href => "#userurl", :data => {:toggle => "tab"}} 公開URL
    %li
      %a{:href => "#settings", :data => {:toggle => "tab"}} 設定
  .tab-content
    .tab-pane.active#record
      %h2
        直近5回の記録
      %ul#weight_list
        - for i in @weight_list[0, 5]
          %li.weight_items= i.weight.to_s + "kg at " + (i.datetime ? i.datetime : "?")
    .tab-pane#userurl
      %h2
        紹介用URL
      %p= "http://"+request.env["HTTP_HOST"]+"/show/"+@user_twitter_id
      -#バグが出たのでとりあえず決めうち。
    .tab-pane#settings
      %h2 ユーザーページ公開/非公開設定
      %p 実装中です。

