@charset "utf-8";

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

path {
  stroke: steelblue;
  stroke-width: 1;
  fill: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle {
  stroke-width: 4;
  stroke: rgba(0,0,0,0);
}

.tooltip {
  border: 1px solid black;
  background-color: white;
  padding: 5px 8px 4px 8px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

