-# vim: fileencoding=utf-8

.jumbotron
  .container
    %h2
      %span#user_name= @name + "さん"
      (
      %span#twitter_uid= @twitter_id.to_s
      )
      の体重推移
    #graph

%noscript
  %ul#weight_list
    - @weights.each do |i|
      %li= i[:weight].to_s + "kg at " + i[:datetime]

- content_for :include do
  =javascript_include_tag 'weight_graph'
