-# coding: utf-8

%p#name= @name + "さん"
%p#twitter_uid= "(" + @twitter_id.to_s + ")"
%noscript
  %ul#weight_list
    - @weights.each do |i|
      %li= i[:weight].to_s + "kg at " + i[:datetime]
#graph

- content_for :include do
  =javascript_include_tag 'weight_graph'

