-# coding: utf-8

%ul
  %li#name= @name + "さん"
  %li#twitter_uid= @twitter_id.to_s

%noscript
  %ul#weight_list
    - @weights.each do |i|
      %li= i[:weight].to_s + "kg at " + i[:datetime]
#graph

  :javascript
    Highcharts.setOptions({
      global: {
        useUTC: false
      }
    });
    $(document).ready(function () {
      var opts = {
        chart : {
          renderTo : 'graph',  // render element id
          type : 'spline',  // graph type
        },
        credits : {
          enabled : false,
        },
        legend : {
          layout : 'vertical',
        },
        title : {
          text : '体重の変化',
        },
        xAxis : {
          title : {
            text : '日付',
          },
          type : 'datetime',
        },
        series : [{10,10}],
      };
      var url = '/api/weight/' + $("#twitter_uid")[0].text;
      $.getJSON(url, function(data) {
        opts.series[0].data = data;
        var chart = new Highcharts.Chart(opts);
      });
    });

