-# coding: utf-8

!!! 5
%html
  %head
    %title= [@title, "YetAnotherPecaFit(YAPecaFit)"].compact.join(" | ")
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    =javascript_include_tag 'jquery'
    =javascript_include_tag 'highcharts/highcharts'
    =javascript_include_tag 'bootstrap.min'
    =stylesheet_link_tag 'bootstrap.min'
    =yield_content :include
  %body
    #header
      %nav.navbar.navbar-default.navbar-static-top{:role => 'navigation'}
        .navbar-header
          %a.navbar-brand{:href => '/'}YAPecaFit
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li#nav_link_to_top
              %a{:href => '/about'}YAPecaFitについて
            %li#nav_link_to_userpage
              - unless access_control.allowed?(current_account, '/user')
                %a{:href=>'#'}ユーザーページ
              - else
                %a{:href => '/user'}ユーザーページ
            - if access_control.allowed?(current_account, '/admin')
              %li#nav_link_to_adminpage
                %a{:href => '/admin'}管理者
            %li.dropdown#project_dropdown
              %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
                プロジェクト
                %b.caret 
              %ul.dropdown-menu
                %li#nav_link_to_project_index
                  %a{:href => "/project/"}一覧
                  - if access_control.allowed?(current_account, "/project/create")
                    %li#nav_link_to_project_create
                      %a{:href => "/project/create"}作成
          %ul.nav.navbar-nav.navbar-right
            %p.navbar-text
              - unless access_control.allowed?(current_account, '/user')
                ログインしていません
              - else
                ようこそ、
                =(current_account.name ? current_account.name : "名無し")
                さん
            %p.btn.btn-default.navbar-btn
              - if access_control.allowed?(current_account, '/user')
                %a{:href => '/logout'}ログアウト
              - else
                =link_to('Twitterでログイン', '/auth/twitter')
    #main
      =yield
    #footer
      %footer
        .container
          %p
            Copyright 
            =link_to('YAPecaFit Staff', 'http://twitter.com/YAPecafit')

