!!! 5
%html
  %head
    %title= [@title, "YetAnotherPecaFit(YAPecaFit)"].compact.join("|")
    =yield_content :include
  %body
    #header
      %h1= @title
    #main= yield
    #footer
      Copyright YAPecaFit Staff


